.App {
  height: 100vh;
  width: 100vw;
}

.join_form {
  padding: 30px;
  width: 60%;
  margin: 10% 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: none;
}

.btn_col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join_btn, .login_btn {
  width: 60%;
}